@font-face {
  font-family: 'opensans';
  src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zilla_slab_highlightbold';
  src: url('../fonts/zilla/zillaslabhighlight-bold-webfont.woff2')
      format('woff2'),
    url('../fonts/zilla/zillaslabhighlight-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'londrina_outlineregular';
  src: url('../fonts/londrina-outline/londrinaoutline-regular-webfont.woff2')
      format('woff2'),
    url('../fonts/londrina-outline/londrinaoutline-regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'opensans', Arial, Helvetica, sans-serif;
}

.logo {
  letter-spacing: 2px;
  font-family: 'zilla_slab_highlightbold', cursive;
}

.navbar {
  text-shadow: 0 0 3px #000;
  font-family: Arial, Helvetica, sans-serif;
}

/*Toggle navbar mobile*/

@media (max-width: 768px) {
  .navbar__list {
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    max-height: 0;
    transition: 0.2s ease-out;
  }

  .navbar__list--open {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transform: translateX(0);
  }
}

.is-active:active {
  opacity: 0.7;
}

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)*/
  height: 0;
}
.video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__heading,
.gigs__heading {
  font-family: 'londrina_outlineregular', cursive;
}

.button--gray {
  background: linear gradient(180deg, #fff, #f5f5f5);
  color: #777;
  border: 1px solid #e1e1e1;
  border-radius: 0.4rem;
}

.button--gray:hover {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

.listen {
  background: url(../img/listen-bg-blury.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  overflow: hidden;
}
